<app-orders-header></app-orders-header>

<p-treeTable [value]="tableData$ | async">
  <ng-template pTemplate="header">
    <tr>
      <th>id</th>
      <th>Tour</th>
      <th>User</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowNode let-rowData=rowData>
    <tr>
      <td>
        <p-treeTableToggler [rowNode]="rowNode"></p-treeTableToggler>
        {{rowData._id}}
      </td>
      <td>{{rowData.tour?.name}}</td>
      <td>{{rowData.userId}}</td>
    </tr>
  </ng-template>
</p-treeTable>
